@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --font-pretendardRegular: "PretendardRegular", sans-serif;
  --font-pretendardBold: "PretendardBold", sans-serif;
  --font-PretendardBlack: "PretendardBlack", sans-serif;
  --font-PretendardExtraBold: "PretendardExtraBold", sans-serif;
  --font-PretendardExtraLight: "PretendardExtraLight", sans-serif;
  --font-PretendardLight: "PretendardLight", sans-serif;
  --font-PretendardSemiBold: "PretendardSemiBold", sans-serif;
  --font-PretendardThin: "PretendardThin", sans-serif;
  --font-PretendardMedium: "PretendardMedium", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
